body {
    background-color: #1a1a1a;
    font-family: 'Roboto', sans-serif;
    font-weight: bold; /* Tout le texte en gras */
}

.calculator {
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: auto;
}

.display {
    font-size: 3rem; /* Taille du texte augmentée pour l'affichage */
    height: 80px;
    margin-bottom: 20px;
    background-color: #007bff; /* Bleu pour le fond de l'affichage */
    color: white; /* Texte en blanc */
    border-radius: 15px;
    padding: 15px;
    text-align: right;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: bold; /* Texte de l'affichage en gras */
}

button {
    font-size: 1.5rem;
    margin: 5px;
    transition: all 0.3s ease-in-out;
    border-radius: 20px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: bold; /* Texte des boutons en gras */
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.btn-light {
    background-color: #f1f1f1;
    color: #333;
}

.btn-light:hover {
    background-color: #e0e0e0;
}

.btn-secondary {
    background-color: #ff8c00;
    color: white;
}

.btn-secondary:hover {
    background-color: #e07b00;
}

.btn-success {
    background-color: #28a745;
    color: white;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-primary:hover {
    background-color: #0069d9;
}

@media (max-width: 576px) {
    .calculator {
        max-width: 100%;
    }

    button {
        font-size: 1.2rem;
        margin: 3px;
    }

    .display {
        font-size: 2rem; /* Ajustement pour les petits écrans */
    }
}
